<?php
/**
* The base configuration for WordPress
*
* The wp-config.php creation script uses this file during the
* installation. You don't have to use the web site, you can
* copy this file to "wp-config.php" and fill in the values.
*
* This file contains the following configurations:
*
* * MySQL settings
* * Secret keys
* * Database table prefix
* * ABSPATH
*
* @link https://codex.wordpress.org/Editing_wp-config.php
*
* @package WordPress
*/
// ** MySQL settings - You can get this info from your web host ** //
/** The name of the database for WordPress */
define( 'DB_NAME', '{{ mysql_db }}' );
/** MySQL database username */
define( 'DB_USER', '{{ mysql_user }}' );
/** MySQL database password */
define( 'DB_PASSWORD', '{{ mysql_password }}' );
/** MySQL hostname */
define( 'DB_HOST', 'localhost' );
/** Database Charset to use in creating database tables. */
define( 'DB_CHARSET', 'utf8' );
/** The Database Collate type. Don't change this if in doubt. */
define( 'DB_COLLATE', '' );
/** Filesystem access **/
define('FS_METHOD', 'direct');
/**#@+
* Authentication Unique Keys and Salts.
*
* Change these to different unique phrases!
* You can generate these using the {@link
https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}
* You can change these at any point in time to invalidate all existing cookies.
This will force all users to have to log in again.
*
* @since 2.6.0
*/
define('AUTH_KEY',         'zb$3;}2E1~?TnH-x1/=(T)7T:[,8wkB+=7Oj J^[$a!CvOOALbY3pos0+S.12lX+');
define('SECURE_AUTH_KEY',  'R1Yq]@>?uDVeB$W=2`D-SWd`-W{GYB4$|~@J!#LR}SQ@P|/p7V&PJ{3XbmR]X+5_');
define('LOGGED_IN_KEY',    'Kn~phk5x+Jc)eWG!(UIU42Q>}+D%u^`Quwp^l&zBik%>!vihDa_!zts])znMXP,I');
define('NONCE_KEY',        '*US|)#cNE@Eom;7J3^aIz8H~p.#=W)@cvJr~g=w:K-Zk=2G|T|FTR+Ew_^z+?wLK');
define('AUTH_SALT',        '3!9MoC |j+Qy/c0+Jg^RFs@2C-qW8W[+Nx-GAFxNM{+Yb?YA#Qo:mV3eD*)L!;pn');
define('SECURE_AUTH_SALT', 'e2dtG,jhx6:*RRj}S|sv>ga=+1z1c,L;$V-4OwjqhO{|j:A>/%bGHAfA8HECn>+e');
define('LOGGED_IN_SALT',   '>8-iEFZU*wn_Cc5V|6y&W{|(p-~h4OpM|6OslLcQUWu/__j`$z#srEazW3!ZF2-]');
define('NONCE_SALT',       '<~Yz&+~.Y5p&!pIaBRQ^A1V5[~fvKe.XIS2A 4Y<Yph0$ 4GOAEi3xYPo2Ha:%5X');
/**#@-*/
/**
* WordPress Database Table prefix.
*
* You can have multiple installations in one database if you give each
* a unique prefix. Only numbers, letters, and underscores please!
*/
$table_prefix = 'wp_';
/**
* For developers: WordPress debugging mode.
*
* Change this to true to enable the display of notices during development.
* It is strongly recommended that plugin and theme developers use WP_DEBUG
* in their development environments.
*
* For information on other constants that can be used for debugging,
* visit the Codex.
*
* @link https://codex.wordpress.org/Debugging_in_WordPress
*/
define( 'WP_DEBUG', false );
/* That's all, stop editing! Happy publishing. */
/** Absolute path to the WordPress directory. */
if ( ! defined( 'ABSPATH' ) ) {
define( 'ABSPATH', dirname( __FILE__ ) . '/' );
}
/** Sets up WordPress vars and included files. */
require_once( ABSPATH . 'wp-settings.php' );